src/main/mule/retail-customer-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="retail-customer-system-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="retail-customer-system-api-config" api="resource::68ef9520-24e9-4cf2-b2f5-620025690913:catalyst-retail-customer-system-api:2.0.3:raml:zip:retail-customer-system-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="retail-customer-system-api-main">
        <http:listener config-ref="retail-customer-system-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="retail-customer-system-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="c2d7586e-4cc7-435d-936e-dac435ab2cdb" message="#[payload]"/>
				<logger level="INFO" doc:name="Logger" doc:id="2ec7158a-6be0-4517-81fa-911c8da7a070" message="#[payload]"/>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="retail-customer-system-api-console">
        <http:listener config-ref="retail-customer-system-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="retail-customer-system-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\customers\(customerId):application\json:retail-customer-system-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="customerId">attributes.uriParams.'customerId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "OK"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\customers\(customerId):retail-customer-system-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="customerId">attributes.uriParams.'customerId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "OK"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\customers\(customerId):retail-customer-system-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="customerId">attributes.uriParams.'customerId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  identifier: "sfdc|1234567890",
  customerId: "provider|0123456789",
  firstName: "John",
  lastName: "Doe",
  phone: "+1-202-555-0180",
  email: "john.doe@example.com",
  deliveryAddresses: [
    {
      "type": "SHIPPING",
      address: "44 Shirley Ave.",
      city: "West Chicago",
      postalCode: "60185",
      state: "IL",
      country: "USA"
    }, 
    {
      "type": "BILLING",
      address: "44 Shirley Ave.",
      city: "West Chicago",
      postalCode: "60185",
      state: "IL",
      country: "USA"
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\customers:application\json:retail-customer-system-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  identifier: "8658743y89348295838",
  customerId: "provider|0123456789"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="88e9d70b-70fb-46d1-b4bf-ec4b6da8fa82" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

{
	"status": "success",
	"data": [
		{
			"id": 1,
			"employee_name": "Tiger Nixon",
			"employee_salary": 320800,
			"employee_age": 61,
			"profile_image": ""
		},
		{
			"id": 2,
			"employee_name": "Garrett Winters",
			"employee_salary": 170750,
			"employee_age": 63,
			"profile_image": ""
		},
		{
			"id": 3,
			"employee_name": "Ashton Cox",
			"employee_salary": 86000,
			"employee_age": 66,
			"profile_image": ""
		},
		{
			"id": 4,
			"employee_name": "Cedric Kelly",
			"employee_salary": 433060,
			"employee_age": 22,
			"profile_image": ""
		},
		{
			"id": 5,
			"employee_name": "Airi Satou",
			"employee_salary": 162700,
			"employee_age": 33,
			"profile_image": ""
		},
		{
			"id": 6,
			"employee_name": "Brielle Williamson",
			"employee_salary": 372000,
			"employee_age": 61,
			"profile_image": ""
		},
		{
			"id": 7,
			"employee_name": "Herrod Chandler",
			"employee_salary": 137500,
			"employee_age": 59,
			"profile_image": ""
		},
		{
			"id": 8,
			"employee_name": "Rhona Davidson",
			"employee_salary": 327900,
			"employee_age": 55,
			"profile_image": ""
		},
		{
			"id": 9,
			"employee_name": "Colleen Hurst",
			"employee_salary": 205500,
			"employee_age": 39,
			"profile_image": ""
		},
		{
			"id": 10,
			"employee_name": "Sonya Frost",
			"employee_salary": 103600,
			"employee_age": 23,
			"profile_image": ""
		},
		{
			"id": 11,
			"employee_name": "Jena Gaines",
			"employee_salary": 90560,
			"employee_age": 30,
			"profile_image": ""
		},
		{
			"id": 12,
			"employee_name": "Quinn Flynn",
			"employee_salary": 342000,
			"employee_age": 22,
			"profile_image": ""
		},
		{
			"id": 13,
			"employee_name": "Charde Marshall",
			"employee_salary": 470600,
			"employee_age": 36,
			"profile_image": ""
		},
		{
			"id": 14,
			"employee_name": "Haley Kennedy",
			"employee_salary": 313500,
			"employee_age": 43,
			"profile_image": ""
		},
		{
			"id": 15,
			"employee_name": "Tatyana Fitzpatrick",
			"employee_salary": 385750,
			"employee_age": 19,
			"profile_image": ""
		},
		{
			"id": 16,
			"employee_name": "Michael Silva",
			"employee_salary": 198500,
			"employee_age": 66,
			"profile_image": ""
		},
		{
			"id": 17,
			"employee_name": "Paul Byrd",
			"employee_salary": 725000,
			"employee_age": 64,
			"profile_image": ""
		},
		{
			"id": 18,
			"employee_name": "Gloria Little",
			"employee_salary": 237500,
			"employee_age": 59,
			"profile_image": ""
		},
		{
			"id": 19,
			"employee_name": "Bradley Greer",
			"employee_salary": 132000,
			"employee_age": 41,
			"profile_image": ""
		},
		{
			"id": 20,
			"employee_name": "Dai Rios",
			"employee_salary": 217500,
			"employee_age": 35,
			"profile_image": ""
		},
		{
			"id": 21,
			"employee_name": "Jenette Caldwell",
			"employee_salary": 345000,
			"employee_age": 30,
			"profile_image": ""
		},
		{
			"id": 22,
			"employee_name": "Yuri Berry",
			"employee_salary": 675000,
			"employee_age": 40,
			"profile_image": ""
		},
		{
			"id": 23,
			"employee_name": "Caesar Vance",
			"employee_salary": 106450,
			"employee_age": 21,
			"profile_image": ""
		},
		{
			"id": 24,
			"employee_name": "Doris Wilder",
			"employee_salary": 85600,
			"employee_age": 23,
			"profile_image": ""
		}
	],
	"message": "Successfully! All records has been fetched."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
